<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/about.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>
</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>About us</label>
</div>

<div class="info_about">


<p>

    Welcome to the all-new OnlineShoes! We’re back under new operation and offer a wide variety of high quality footwear, apparel, and accessories. Simplify your shopping experience with free shipping, along with hundreds of great deals on the styles you’ve been searching for.
    Have a question? Our customer service team is available to help you find the perfect style, help with a return, and answer any questions you may have about OnlineShoes. While we offer easy returns, items purchased before April 3, 2017 were done so under the ownership of the previous operator and cannot be returned or exchanged to OnlineShoes under the new operator, as we do not have any information about previous orders, purchase history, or any previous business that was done under the old operator.
    The all-new OnlineShoes is dedicated to delivering exceptional customer service and an effortless online shopping experience. Visit our <a href="/privacy">Privacy Policy</a> and <a href="/terms">Terms and Conditions</a> pages to learn more.
    Explore our new website for our great selection of our footwear, apparel, and accessories for men, women, and kids - all at a great deal. We have the brands you love and give you the care you deserve.
    Connect with us for the latest deals and offers by subscribing to our email list, liking us on Facebook, and following us on Instagram.

</p>


</div>
<div class="foot">
<div th:include="footer"></div>
</div>
</body>
</html>