<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/protection.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>
</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>Data protection</label>
</div>
<div class="info_protection">
<p>
Dear User,

    In the current legal system, the principles of personal data processing are regulated in particular by the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of individuals with regard to the processing of personal data.

    We would like to clarify that the processing of your data takes place solely for the purpose of completing your purchases and to enable us to inform you about our offer and to tailor it to your needs.

    Translated with www.DeepL.com/Translator (free version)
</p>

<label>What personal data is collected and processed by ShoesShop?  </label>

<p>
    ShoesShop collects and processes personal data obtained with the consent of users of the websites operated by ShoesShop sp. z o.o. (hereinafter: ShoesShop ), including customers of the online store, users of the newsletter service and other functionalities of the www.nbsklep.pl website, including those stored in cookies.

    Personal data is collected from the subjects - users of the pages and customers of ShoesShop , who have registered at the online store.

    The controller of the above personal data will be ShoesShop and all its affiliates and subsidiaries, either personally or corporately, directly or through other entities, and our trusted partners.

    Purposes of processing personal data.

    ShoesShop collects and processes personal information for purposes required by law and for other purposes specified by ShoesShop , including but not limited to:

<p>

<ul> - optimize the process of actions taken by customers, in particular by improving and facilitating the process of purchase, delivery, complaint or return of purchased goods,</ul>

<ul>- build an offering that is tailored to customers' needs, </ul>

<ul>- inform customers of new products and price reductions in ShoesShop's offerings , </ul>

<ul>- make analyses that allow us to improve our services. </ul>

<label>Who can we share data with? </label>

<p>
    In accordance with applicable law, the controller of personal data (ShoesShop ) may provide personal data to entities processing them on our behalf, e.g., subcontractors of our services, marketing agencies and entities entitled to obtain data on the basis of applicable law, e.g., courts or law enforcement agencies - of course only if they make a request based on an appropriate legal basis.

    ShoesShop has appointed a Data Protection Officer to ensure compliance with the data protection principles collected and processed by ShoesShop.

    Contact details of the inspector: shoesshop@.pl
</p>

<label>What rights do you have in relation to your data?</label>

<p>You have the right to request access, rectification, erasure or restriction of processing. You can also withdraw your consent to the processing of your personal data, object and exercise other rights, including:<p>

<ul>1) to obtain comprehensive information on whether such a filing system exists and to determine the controller, the address of its registered office and its full name;</ul>

<ul>2) obtain information on the purpose, scope and manner of processing of the data contained in such filing system;</ul>

<ul>3) to be informed of the date on which data concerning them is processed and to be informed of the content of such data in a commonly understood form;</ul>

<ul>4) obtain information about the source of the data concerning him or her, unless the controller is bound by an obligation of secrecy or professional secrecy in this regard;</ul>

<ul>5) obtain information on how the data is shared, and in particular on the recipients or categories of recipients to whom the data is shared;</ul>

<ul>5a) obtain information on the grounds for the decision referred to in Article 26a(2); </ul>

<ul>6) request to complete, update, rectify, temporarily or permanently cease the processing of personal data, or delete them if they are incomplete, outdated, untrue or have been collected in violation of the law, or are no longer required for the purpose for which they were collected;</ul>

<ul>7) request the cessation of data processing;</ul>

<label>What are the legal bases for ShoesShop's processing of personal data ?</label>

<p>Any processing of personal data must be based on an appropriate legal basis that complies with applicable laws. The legal basis for processing personal data for the purpose of selling goods and providing services is the necessity for the performance of contracts (in the case of the provision of services, these contracts are the regulations or similar documents available on the services you use).

    In turn, the legal basis for tailoring the content of services to the interests of users of the websites and services operated by ShoesShop , ensuring their security and measuring/analysing and improving them, as well as ShoesShop's own marketing is the so-called legitimate interest of the controller of personal data. The processing of data for marketing purposes, including profiling and for analytical purposes will be carried out on the basis of voluntary consent, which can be expressed by ticking the "I agree" button next to the content of the statement.

    Giving this consent is voluntary and you can withdraw it at any time, except that withdrawal of consent will not affect the lawfulness of processing based on consent before its withdrawal.
</p>




</div>
<div class="foot">
    <div th:include="footer"></div>
</div>
</body>

</html>