<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <link rel="stylesheet" th:href="@{/css/details.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
<!--<div th:include="navbar"></div>-->
<div class = "card-wrapper">
    <div class = "card">
        <!-- card left -->
        <div class = "product-imgs" style="width: 700px">
            <div class = "img-display">
                <div class = "img-showcase">
                    <img th:src="@{'/img/' + ${product.primaryImage}}" width="400" height="500" alt = "shoe image">
                    <img th:src="@{'/img/' + ${product.secondImage}}" width="400" height="500" alt = "shoe image">
                    <img th:src="@{'/img/' + ${product.thirdImage}}" width="400" height="500" alt = "shoe image">
                    <img th:src="@{'/img/' + ${product.fourthImage}}" width="400" height="500" alt = "shoe image">
                </div>
            </div>
            <div class = "img-select">
                <div class = "img-item">
                    <a href = "#" data-id = "1">
                        <img th:src="@{'/img/' + ${product.primaryImage}}" width="100px" height="100px" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "2">
                        <img th:src="@{'/img/' + ${product.secondImage}}" width="100px" height="100px" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "3">
                        <img th:src="@{'/img/' + ${product.thirdImage}}" width="100px" height="100px" alt = "shoe image">
                    </a>
                </div>
                <div class = "img-item">
                    <a href = "#" data-id = "4">
                        <img th:src="@{'/img/' + ${product.fourthImage}}" width="100px" height="100px" alt = "shoe image">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
            <h2 class = "product-title"><span th:text="${product.category.categoryName}"></span> <span th:text="${product.productName}"></span></h2>
            <a href = "#" class = "product-link">ShoesShop</a>
            <div class = "product-rating">
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star"></i>
                <i class = "fas fa-star-half-alt"></i>
                <span>4.7(21)</span>
            </div>

            <p class = "new-price">Price:  <span th:text="${product.price} + ' $'"></span></p><br>
<!--            <form action="#" th:action="@{/details/save}" th:object="${shoppingCart}" method="post">-->
            <label>Sizes</label><br>

                <th:block th:each="productC : ${productToCart}">
                    <form action="#" th:action="@{/details/{id}(id=${productC.productId})}" th:object="${product}" method="get">
                    <input th:each="size : ${productSizes}" th:if="${size} == ${productC.sizes}" type="hidden" th:value="${productC.productId}"  >
                        <button type = "sumbit" th:text="${productC.sizes}" class = "btn" STYLE="font: 8pt Arial;color=black; font-style: italic; font-weight: bold;  background:blue; width:100px; height:50px;"></button>
                    </form>
                </th:block>
                <form action="#" th:action="@{/details/save}" th:object="${shoppingCart}" method="post">
                    <!--            <select name="userItem" class="form-control" data-live-search="true">-->
<!--                <th:block  th:each="size : ${productSizes}">-->
<!--                <option   th:each="productC : ${productToCart}" th:if="${size} == ${productC.sizes}"-->
<!--                        th:value="${productC.productId}"-->

<!--                        th:text="${size.value}">-->
<!--                </option>-->
<!--                </th:block>-->
<!--            </select>-->

                <div class = "product-price">
            </div>

                    <input hidden th:value="${product.productId}" name = "userItem" >

            <div class = "product-detail">
                <h2>about this item: </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
                <ul>
                    <li>Color: <span th:text="${product.colors}"></span></li>
                    <li>Available:<span th:text="${product.category.available}"></span></li>
                    <li>Category: <span th:text="${product.category.categoryName}"></span></li>
                    <li>Shipping Area: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
                </ul>
            </div>

            <div class = "purchase-info">
                <input type = "number" min = "1" th:max="${product.amount}" th:field="*{quantity}">
                <button type = "sumbit" class = "btn">
                    Add to Cart <i class = "fas fa-shopping-cart"></i>
                </button>
            </div>

        </form>
        </div>
    </div>
</div>
<script src="/js/script.js"></script>
</body>
</html>
