<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style_4.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>


</head>

<body>
<footer class="nb-footer">
    <div class="container">
        <div class="row">


            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Customer information</h2>
                    <ul class="list-unstyled">
                        <li><a href="/about" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
                        <li><a href="/history" title=""><i class="fa fa-angle-double-right"></i>History of brand</a></li>
                        <li><a href="/department" title=""><i class="fa fa-angle-double-right"></i>Marketing Department</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Security & privacy</h2>
                    <ul class="list-unstyled">
                        <li><a href="/terms" title=""><i class="fa fa-angle-double-right"></i> Terms and conditions</a></li>
                        <li><a href="/privacy" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
                        <li><a href="/returnsAndExchanges" title=""><i class="fa fa-angle-double-right"></i> Returns/Exchanges</a></li>
                        <li><a href="/dataProtection" title=""><i class="fa fa-angle-double-right"></i> Data Protection</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Payment & Delivery</h2>
                    <label>Payment forms</label>
                    <p>Credit card, online transfer, traditional transfer, payment on delivery.</p><br>

                    <label>Delivery forms</label>
                    <p>Shipments are sent by UPS courier service. The content of the package is insured for the full amount.</p><br>

                    <label>Delivery charges</label>
                    <p>UPS: 20$.</p>
                    <p>Free shipping on orders over 100 $!</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <div class="contact">
                    <h2 class="title">Contact</h2>
                    <h1>11 2232 11</h1>
                    <p>Monday – Friday from 7:00 to 22:00</p>
                    <h4>FIND US</h4>
                        <div class="col-sm-12">
                            <div class="about">
                                <div class="social-media">
                                    <ul class="list-inline">
                                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2021. ShoeShop.</p>
                </div>
                <div class="col-sm-6"></div>
            </div>
        </div>
    </section>
</footer>
</body>

</html>