<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/history.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>
</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>History of brand</label>
</div>

<div class="info_history">
    <li><b>1906</b> – ShoesShop was founded in Boston in 1906 by William J. Riley.
        The founder's vision was to improve the comfort of workers who wore uncomfortable shoes for days on end. The company's first products were special shoe inserts that were placed under the arch of the foot - the so-called arch supports. Riley observed chickens in his backyard and found that the birds
        Riley observed chickens in his backyard and found that the birds maintain perfect balance thanks to the design of their three claws. This discovery inspired him to design insoles that were triangular in shape and added three additional points of support to the foot to increase comfort and balance.</li>

    <li><b>1933</b> – Soon Riley's partner was then salesman Arthur Hall, and together they invented shoe inserts that deformed
        to conform to the wearer's foot. The founders' bold visions and ambitions allowed them to stay ahead of the competition for many years and at the same time survive the crisis at the end of the thirties.</li>

    <li><b>1938</b> – ShoesShop produced its first serious running shoes in 1938 for the local Boston Brown Bag Harriers athletic club.
        Riley was confident that his kangaroo leather shoes would satisfy even the most demanding customers. The price tag stated that there would be a guaranteed refund if expectations were not met. Even so, the store price of $7
        was impressive at the time. Since then, the company has focused on improving the technology that made running easier.</li>

    <li><b>1953</b> – In 1953, Arthur Hall's daughter Eleanor Kidd took the helm of the company with her husband Paul. The couple gave the company a new lease of life and opened a new chapter in the history of the company.
        In 1956, William Riley died and the new owners decided to change the name of the company to 'ShoesShop Orthopedic Laboratory'. The change was to emphasize the company's commitment to scientific research, to which
        Paul was spending more and more time in the basement of his house.</li>

    <li><b>1960</b> – The result was the Trackster, a groundbreakingly lightweight shoe designed specifically for running. The model had a distinctive sole that was an incredible design element for its time, but most importantly
        But most importantly, it promised to unleash the 'Go Power' in runners from the start to the finish line. Most importantly, however, the Tracksters were available not only in different insole lengths,
        but also in different widths. The new numbering system allowed every runner to find the perfect shoe to fit.</li>

    <li><b>1972</b> – After 20 years at the helm of the company, Eleanor and her husband decided to sell ShoesShop.
        Young entrepreneur Jim Davis, who was very impressed with the comfort of the Trackster model, decided to buy the company.</li>

    <li><b>1976</b> – The M320 is born, designed to enhance the runner's performance. The upper was constructed of nylon, which was light and breathable and the 'AstroCrepe' sole was meant to herald the arrival of an era of new technology in athletic footwear. The 320's good initial sales skyrocketed in 1976
        after the prestigious Runner's World magazine named it the best shoe of the year!</li>

    <li><b>1982</b> – ShoesShop opens its first overseas factory in England.</li>

    <li><b>2005</b> – ShoesShop ranks 2nd in the amount of athletic footwear sold in the US.</li>

    <li><b>2006</b> – The company is celebrating its centennial.</li>

    <li><b>2012</b> – In 2012, history came full circle and the model that launched the most advanced NB series ended it in even better style.
        The third incarnation of the M990 hit the market, and just like the 1982 original, it offered top quality straight from the factory in the USA.</li>
</div>
<div class="foot">
    <div th:include="footer"></div>
</div>

</body>
</html>