<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title><link rel="stylesheet" href="/css/department.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>
</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>Marketing department</label>
</div>

<div class="info_departm">

    <p>
    SHOES SHOP Limited liability company<br>
    st. Strange 10<br>
    322-2332 Manchaster<br>
    NIP: 5212121218323, REGON: 361219472032<br>

    ph. (0-17) 666 12 11<br>
    fax. (0-17) 4444 32432 242<br>

    Mon.-Fr. 7.00-22.00<br>

     Marketing and advertising department:<br>
    marketing@shoeshop.com

    </p>

</div>
<div class="foot">
    <div th:include="footer"></div>
</div>
</body>
</html>