<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Privileges</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<main>
    <div class="pos-center">
        <style type="text/css">
            .table {
                margin: 0 auto;
                width: 50%;
                margin-top: 30px;
                margin-bottom: 30px;
            }
        </style>
        <div th:include="heading"></div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>
                <th class="text-center" rowspan="2">Actions</th>
                <th class="text-center">Blocked</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.email}">Email</td>

                <td>
                    <a th:href="@{'/deleteUser/' + ${user.id}}" class="btn btn-custom">Delete</a>
                </td>

                <td>
                    <a th:href="@{'/editUserStatus/' + ${user.id}}" class="btn btn-custom">Edit</a>
                </td>

            </tr>

            </tbody>
        </table>
        <div class="container">
            <div class="center">
                <button type="button" class="btn btn-outline-primary">Save</button>
            </div>
        </div>
        <div th:include="footer"></div>
    </div>
</main>
</body>
</html>

