<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style_2.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script><title>Products</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#primaryImage').change(function () {
                showImageThumbnail(this)
            });
        });

        $("input[name='extraImage']").each(function (index) {
            $(this).change(function () {
                showExtraImageThumbnail(this,index)

            });
        });

        function showImageThumbnail(fileInput){
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail').attr('src',e.target.result);
            };
            reader.readAsDataURL(file);
        }

        function showExtraImageThumbnail(fileInput, index){
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function(e) {
                $('#thumbnail' + index).attr('src',e.target.result);
            };
            reader.readAsDataURL(file);
        }


        $(function(){
            var requiredCheckboxes = $('.check_box :checkbox[required]');
            requiredCheckboxes.change(function(){
                if(requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                }
                else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });

        $(function(){
            var requiredCheckboxes = $('.check_box2 :checkbox[required]');
            requiredCheckboxes.change(function(){
                if(requiredCheckboxes.is(':checked')) {
                    requiredCheckboxes.removeAttr('required');
                }
                else {
                    requiredCheckboxes.attr('required', 'required');
                }
            });
        });

    </script>

</head>
<body>
<main>
    <div th:include="navbar"></div>


    <div class="card w-60">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">

            <div class="card-body">
                <h5 class="card-title">Add Product</h5>
                <form action="#" th:action="@{/product/save}" th:object="${product}" method="post" id="frm"
                enctype="multipart/form-data">

                    <div>
                        <label for="productNameInput">Name:</label>
                    </div>
                    <div class="select">
                    <input type="text" name="name" class="form-control" required autofocus="autofocus"
                           th:object="${product}" th:field="*{productName}" id="productNameInput" maxlength="15">
                    </div>

                    <div class="select">
                        <label for="exampleFormControlSelect1">Amount:</label>
                        <input type="number" min="1" max="99"
                               name="amount"  th:field="${product.amount}"  class="form-control" required
                                id="exampleFormControlSelect1"/>
                    </div>

                    <div class="select">
                        <label for="exampleFormControlSelect1">Category:</label>
                        <select th:field="*{category}" class="form-control" data-live-search="true"
                                id="exampleFormControlSelect2">
                            <option th:each="category : ${categoryList}"
                                    th:value="${category.id}"
                                    th:text="${category.categoryName}">
                            </option>
                        </select>
                    </div>


                    <label for="exampleFormControlSelect1">Color:</label>
                    <div class="select">
                        <th:block th:each="color : ${colorList}"  class="form-control" data-live-search="true"
                                  id="exampleFormControlSelect4">
                            <div class="check_box">
                                <input type="checkbox" th:field="*{colors}" required
                                       th:value="${color.colorID}"
                                       th:text="${color.colorName}" >
                            </div>
                        </th:block>
                    </div>


                    <label for="exampleFormControlSelect1">Size:</label>
                    <div class="select">

                        <th:block th:each="size : ${sizeList}" class="form-control" data-live-search="true"
                                  id="exampleFormControlSelect4">
                            <div>
                                <div class="check_box2">
                                <input type="checkbox" th:field="*{sizes}" required
                                       th:value="${size.sizeID}"
                                       th:text="${size.value}"/>
                                </div>
                            </div>
                        </th:block>
                    </div>


                    <div id="accordion" style="margin-top: 25px">
                        <h5 class="mb-0">
                            <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                Add Photos
                            </a>
                        </h5>
                    </div>

                   <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="block1">
                            <p>
                                <img alt="First photo" id="thumbnail" width="100px" height="100px"/>
                            </p>
                            <label>Photo 1</label>
                            <input type="file" name="primaryImage" required autofocus="autofocus" class="form-control" id="primaryImage" accept="{image/png, image/jpeg, image/jpg}"
                                    th:field="*{mainImage}">
                        </div>


                        <div class="block2">
                            <p>
                                <img alt="First photo" id="thumbnail0" width="100px" height="100px"/>
                            </p>
                            <label>Photo 2</label>
                            <input type="file" name="extraImage" required autofocus="autofocus"  class="form-control"  accept="{image/png, image/jpeg,  image/jpg}"
                                   th:field="*{extraImage1}">
                        </div>

                            <div class="block3">
                                <p>
                                    <img alt="First photo" id="thumbnail1" width="100px" height="100px"/>
                                </p>
                                <label>Photo 3</label>
                                <input type="file" name="extraImage" required autofocus="autofocus"  class="form-control" accept="{image/png, image/jpeg,  image/jpg}"
                                       th:field="*{extraImage2}">
                            </div>

                            <div class="block4">
                                <p>
                                    <img alt="First photo" id="thumbnail2" width="100px" height="100px"/>
                                </p>
                                <label>Photo 4</label>
                                <input type="file" name="extraImage" required autofocus="autofocus" class="form-control" accept="{image/png, image/jpeg,  image/jpg}"
                                       th:field="*{extraImage3}">
                            </div>
                    </div>-->

                    <div class="select">
                    <label for="exampleFormControlSelect1">Price:</label>
                    <input name="productPrice" type="number"  min="1" max="999" class="form-control" required autofocus="autofocus"
                         th:object="${product}" th:field="*{price}" id="exampleFormControlSelect5">
                    <button class="btn btn-primary" type="submit">Add product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
