<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/returns_exch.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>

</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>Returns & Exchanges</label>
</div>
<div class="main_informations">
    <label>Order processing</label>
    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        How long should I wait for my order?
    </p>
</div>
    <div class="info_block">
        <p>
            Orders are processed up to 2 working days from the day of placing/payment,<br>
            but we try to process them as soon as possible, of course. We will inform you about the shipment of your
            order in a separate message.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>How do I check my order status?</p>
    </div>

    <div class="info_block">
        <p>
            In order to check the status, please contact us by e-mail, phone or Messenger application.<br>
            We would also like to inform you that orders are processed within 2 working days from the date of order
            placement/payment.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>I want to change my payment method.</p>
    </div>

    <div class="info_block">
        <p>
            If you wish to change your payment method, please contact us as soon as possible by email, phone or
            Messenger.<br>
            Unfortunately it is not possible to make such a change on your own after placing an order.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>How can I cancel my order?</p>
    </div>

    <div class="info_block">
        <p>
            If you wish to cancel your order, please contact us as soon as possible by email, phone or Messenger.<br>
            Unfortunately it is not possible to cancel the order by yourself after placing it.
        </p>
    </div>

    <label>Returns & Exchanges</label>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Can I exchange shoes ordered from an online store at one of the stationary stores?
    </p>
    </div>

    <div class="info_block">
        <p>It is not possible to make an exchange in a stationary showroom.<br>
            Goods should be returned with the return/exchange form to the address on the top left of the return form.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Who pays for the return?
    </p>
    </div>

    <div class="info_block">
        <p>The cost of sending back the product purchased in the online store is covered by the buyer.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        How do I make a return?
    </p>
    </div>

    <div class="info_block">
        <p>The return period is 30 days. The return package should be addressed as indicated in the upper left corner of the return/exchange <br>
            form and the completed return form should be attached to the package.

            Please be advised that shipments sent back for return/exchange undergo a three-day quarantine at the warehouse to ensure safe handling.<br>
            The exchange processing time may be extended to 14 days from the date the package is received in the warehouse.

            Translated with www.DeepL.com/Translator (free version)
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        What company should I use to return the product?
    </p>
    </div>

    <div class="info_block">
        <p>The choice of carrier is up to the customer. Please be informed that we do not support only parcel machines.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        When will my order be refunded?
    </p>
    </div>

    <div class="info_block">
        <p>We process returns up to 14 days from the date we receive your package through our warehouse.<br>
            As soon as the refund is ordered to your account, we will notify you in an email.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Can I return an order from an online store to a stationary store?
    </p>
    </div>

    <div class="info_block">
        <p>It is not possible to make a return in a stationary showroom. <br>
            Goods should be sent back together with the return form to the address given in the upper left corner of the return form.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        How do I exchange my purchase?
    </p>
    </div>

    <div class="info_block">
        <p>The time limit for exchanging goods is 30 days. The return package must be addressed as indicated in the upper left corner of the return/exchange form.<br>
            The parcel must be accompanied by the completed form. The cost of sending the product back is covered by the buyer, and in case of an exchange the new pair will be sent at our expense.

            Please be advised that shipments sent for return/exchange are quarantined in our warehouses for three days to ensure safety.<br>
            The exchange lead time may be extended to 14 days from the date of receipt of the package in the warehouse.

            Translated with www.DeepL.com/Translator (free version)
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        What address should shoes be sent to for exchange?
    </p>
    </div>

    <div class="info_block">
        <p>Please address the package with the merchandise for exchange as indicated in the upper left corner of the return/exchange form.
        </p>
    </div>

    <label>Shipping</label>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Can I pick up an order from the online store in person at a stationary store?
    </p>
    </div>

    <div class="info_block">
        <p>Produkty dostępne w naszym sklepie internetowym wysyłamy tylko na wskazany w zamówieniu adres domowy lub firmowy na terenie Polski. <br>
            Nie ma możliwości zamówienia produktów do sklepu stacjonarnego.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Can I order products with delivery abroad?
    </p>
    </div>

    <div class="info_block">
        <p>Goods purchased by the Consumer are delivered by UPS courier service only to the address <br>
            specified as the delivery address or to a selected parcel machine only in Poland.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Can I order products with in-store pickup?
    </p>
    </div>

    <div class="info_block">
        <p>Goods ordered in our online store are shipped only to your home or business address within Poland.<br>
            It is not possible to order goods to a stationary store.
        </p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        How much is the shipping cost?
    </p>
    </div>

    <div class="info_block">
        <p>Shipping is free on orders over $150. Below this amount, shipping cost is $15 (UPS courier delivery)</p>
    </div>

    <label>Complaints</label>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        All products in the online store are original?
    </p>
    </div>

    <div class="info_block">
        <p>All products available in our store are of course original.</p>
    </div>

    <div class="ques_text">
        <div class="kg-question-arrow">↓</div>
    <p>
        Do products purchased from the online store come with a warranty?
    </p>
    </div>

    <div class="info_block">
        <p>All Goods purchased in the Online Store are subject to a two-year warranty, in accordance with <br>
            the Act on Consumer Rights and the Civil Code Act.</p>
    </div>


</div>

<div class="foot">
    <div th:include="footer"></div>
</div>
</body>
</html>