<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/terms.css">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,700&display=swap');
    </style>

</head>
<body>
<div th:include="navbar"></div>
<div class="title">
    <label>Terms & Conditions</label>
</div>
<div class="info_terms">
<p>
    These rules have been developed to ensure transparency in the use of www.shoesshop.com, in particular in the provision of electronic services and sales of goods available in the online store.
    Before using the www.shoesshop.com website, please read the following rules, which will allow you to understand the principles of its operation and avoid later doubts.
</p>

   <label> §1
       GENERAL PROVISIONS</label>
    <ul> 1. The owner and administrator of the website operating under the domain www.shoesshop.com (hereinafter referred to as the "Website") and the online store operating at this address (hereinafter referred to as the "Store") is ShoesShop Poland Sp. z o.o. with its registered office in Manchester, st. Strange 17 (1215-232 Manchester), entered in the Register of Entrepreneurs of the National Court Register under KRS number 0000717955, NIP: 5272838323, REGON: 369472032 (hereinafter referred to as "ShoesShop Poland").</ul>
    <ul> 2. The use of the Service is possible on condition that the user meets the minimum technical requirements necessary for cooperation with the data communications system used by ShoesShop , i.e:</ul>
    <ul> 1) A computer, laptop or other multimedia device with Internet access,</ul>
    <ul> 2) email access;</ul>
    <ul> 3) Web browser: Mozilla Firefox version 20.0 and higher or Internet Explorer version 11.0 and higher, Opera version 40.0 and higher, Google Chrome version 50.0 and higher, Safari version 6.0 and higher, Microsoft Edge version 40.0.0 and higher.</ul>
    <ul> 3. These Terms and Conditions (hereinafter referred to as "Terms and Conditions") are available at the following website: https://nbsklep.pl/regulamin_new_balance.html in a manner that allows you to obtain, reproduce and preserve their content at any time.
        In particular, the Regulations may be downloaded in PDF format and archived, as well as printed or saved, using the normal functions of an Internet browser.</ul>
    <ul> 4. Regulations specify general conditions and manner of sales services provided by ShoesShop  via the Store, in particular rules for placing orders and conclusion of
        orders and conclusion of an agreement, as well as rights and obligations of the parties to the agreement, as well as rules for the provision of electronic services by ShoesShop  within the meaning of Article 2.5 of the Act of 18 July 2003.
        on provision of services by electronic means (i.e. Journal of Laws 2017.1219 as amended).</ul>
    <ul> 5. The Regulations constitute the rules and regulations for the provision of services by electronic means within the meaning of the provision of Article 8 of the Act of 18 July 2003 on
        providing services by electronic means (i.e. Journal of Laws 2017.1219 as amended).</ul>
    <ul> 6. ShoesShop  through the Service provides the following services electronically:</ul>
    <ul> 1) creation and administration of a Customer Account,</ul>
    <ul> 2) orderTest form processing,</ul>
    <ul> 3) contact form processing,</ul>
    <ul> 4) Adding product reviews,</ul>
    <ul> 5) sending commercial information, promotional offers etc. using Newsletter service,</ul>
    <ul> 7. By using the Website in any way, the Customer is deemed to have read and accepted the Terms and Conditions and to have agreed to their content.</ul>
    <ul> 8. The services provided by the Website are addressed to adult natural persons (18 years of age) having full legal capacity, legal persons and organizational units without legal personality, to which the law grants legal capacity (hereinafter referred to as the "Clients").
        organizational units without legal personality, which are granted legal capacity by the law (hereinafter referred to as the "Clients").</ul>
    <ul> A person with limited legal capacity may use the Service only with the consent of his or her legal guardian.</ul>
    <ul> 10. The provisions of the Regulations apply both to:</ul>
    <ul> a) natural persons using services of ShoesShop  in connection with activities not related to their economic or professional activity, as well as</ul>
    <ul> b) from 1.06.2020 also towards natural persons using the services of ShoesShop  in connection with activities related to their business, if the content of the agreement indicates that it is not of a professional nature for these persons
        professional character, resulting in particular from the subject of business activity conducted by such persons, made available on the basis of the provisions on the Central Register and Information on Business Activity (in accordance with
        Article 38a of the Act of 30 May 2014 on consumer rights)</ul>
    <ul> (here in after referred to as "Consumers" or "Consumer") as well as</ul>
    <ul> c) natural persons, legal persons and organizational entities which are not legal persons and which are granted legal capacity by the law, running their own business or professional activity on their own behalf
        conducting business or professional activity and using ShoesShop  services in direct relation to their business or professional activity (hereinafter referred to as "Entrepreneurs" or "Entrepreneur"),
        excluding those provisions of these Regulations, which are clearly addressed exclusively to the Consumer or Entrepreneur.</ul>
    <ul> 11. The provisions of the Regulations guarantee the preservation of the rights of Consumers that they are entitled to under mandatory provisions of the law, in particular the provisions of the Act of 30 May 2014 on Consumer Rights (i.e. Journal of Laws 2017.683 as amended). In the event that the provisions of these Regulations are inconsistent with the provisions indicated in the previous sentence, these provisions shall prevail.</ul>
    <ul> 12. The provisions contained in section 11 above do not apply to Entrepreneurs.</ul>
    <ul> 13. ShoesShop  will make every effort to make the Store and all services available through the Service work continuously, without any disruptions, however, ShoesShop  is not responsible for disruptions caused by force majeure or unauthorized intervention of users or third parties.
        Information about risks associated with the use of services provided electronically is located in § 11 section 2.</ul>
    <ul> 14. ShoesShop  reserves the right to implement any safeguards to protect the proper functioning of the Service, including safeguards against actions by Service users that constitute a violation of these Terms of Service or rules associated with the functioning of the Service.</ul>
    <ul> 15. ShoesShop  e-mail address sklep@nbsklep.pl is also the proper address for communication with ShoesShop , including inquiries regarding product sales terms used by ShoesShop  and interpretation of these Regulations.</ul>
    <ul> 16. Customer can also contact ShoesShop  via:</ul>
    <ul> a) phone number: 1232 33 121,</ul>
    <ul> b) address: st.Strange 17, 1232-232 Manchester.</ul>
    <ul> 17. If the Customer decides to contact ShoesShop  by phone, he/she bears the costs of a regular phone call, according to the rates of the operator chosen by the Customer.</ul>

    <label>§2
        SCOPE OF SERVICES</label>
    <b><ul> 1. Creating and administering a Customer Account.</ul></b>
    <ul> 1.1. ShoesShop  provides an opportunity for Customers to create a Customer Account in the Store via the website https://shoeshop.com/customer/register.html. Registering a Customer Account enables the Customer in particular to
        observe products available in the Store, facilitate placing orders, track history
        history of purchases made and to add reviews about purchased products.</ul>
    <ul> 1.2. In orderTest to create a Customer Account, the Customer shall be obliged to fill in the registration form, in which he/she shall specify his/her name, address, e-mail address,
        telephone number and password for the created Customer Account, as well as accept the Terms and Conditions.
        If the Customer registering is an Entrepreneur requesting a VAT invoice, he/she is obliged to
        also indicate the company, Tax Identification Number (NIP) and address of the registered office.</ul>
    <ul> 1.3. After the Customer saves the completed registration form in the system, ShoesShop
        sends immediately to the e-mail address specified by the Customer a message confirming that the Customer Account has been registered.</ul>
    <ul> 1.4. Customer Account service is provided by ShoesShop  to the Customer free of charge, for an indefinite period of time.
        The Customer may at any time resign from the Customer Account service without giving reasons, by sending ShoesShop
        request for deletion of Customer Account by e-mail to: sklep@nbsklep.pl or in writing to the address:
        ShoesShop  , st. Strange 17, 3123-2222 Manchester.</ul>
    <b><ul> 2. Order Form Processing.</ul></b>
    <ul> 2.1. The Customer, using the services of the Website, may purchase products available in the Store both through an active Customer Account and without the mediation of a Customer Account, as a guest Customer.</ul>
    <ul> 2.2. Information contained in the Store does not constitute an offer within the meaning of the Civil Code. Advertisements, Seller's advertisements, price lists and other information about products given on the Store's website,
        in particular their descriptions, technical and usable parameters and prices, constitute an invitation to conclude a
        contract within the meaning of Article 71 of the Civil Code.</ul>
    <ul> 2.3. Conclusion of contract using the orderTest form is done by adding products to the cart by the user (Customer) and filling in and sending ShoesShop  orderTest form. For the purpose of proper implementation of the orderTest by the Seller, Customer is required to provide within the orderTest: name and surname, delivery address, e-mail address and
        telephone number to contact, and if the recipient is not the person placing the orderTest also the name and surname / company of the recipient.
        If the orderTest is made by the Customer who is an Entrepreneur in the course of business
        Entrepreneur is obliged to specify the Entrepreneur's company name, NIP and registered address.</ul>
     <ul> 2.4. Completing the orderTest form and sending it to ShoesShop  and accepting the terms of these Regulations is equivalent to the Client requesting a proof of transaction in a form of a VAT invoice issued by ShoesShop . Client simultaneously declares that he agrees to
         ShoesShop  to issue a proof of purchase (VAT invoice) without recipient's signature and to send it electronically
         to an e-mail address specified by the Customer."</ul>
     <ul> 2.5. Immediately after completing and submitting the orderTest form ShoesShop  sends a message to the e-mail address specified by the Customer confirming that the orderTest form has been received. This message constitutes only information about receipt by
         ShoesShop  receives the completed orderTest form. Subsequently, ShoesShop  verifies whether the orderTest can be processed
         and immediately sends a message to the Customer confirming that the orderTest can be processed.
         The agreement is concluded once the Customer receives the message confirming that the orderTest can be processed
         Customer's orderTest by ShoesShop .</ul>
     <ul> 2.6. In case of occurrence of temporary unavailability of the ordered product, the Customer will be immediately
         informed about the fact that the product is out of stock causing the extended orderTest processing time. In such a situation
         Customer has a choice between: waiting for the product, changing the ordered product to another or cancel the orderTest without any consequences.
         orderTest without any consequences.</ul>
    <b> <ul> 3. Contact Form Processing.</ul></b>
    <ul> 3.1. ShoesShop  allows Customers to use the contact form service.
        As part of this service, the Client has the possibility to send
        ShoesShop  message and contact details without using any tools external to the Service.</ul>
    <ul> 3.2. In orderTest to send a message to ShoesShop  Client is obliged to indicate his/her name,
        surname, e-mail address and telephone number as well as to agree to the processing of his personal data.</ul>
    <ul> 3.3. By using the contact form service, Customer agrees to ShoesShop  sending
        messages to the e-mail address provided by the Customer or to establish direct telephone contact
        with regard to matters covered by the message.</ul>
    <ul> 3.4. ShoesShop  shall exercise due diligence in orderTest to assess without undue delay the merits of messages sent by the Client and provide the necessary information.</ul>
    <ul> 3.5. ShoesShop  reserves the right to internally assess the appropriateness of responding or contacting the Customer. ShoesShop  has no obligation, either express or implied, to respond to all messages sent by customers, nor does it provide any express or implied guarantee of receiving a response to messages sent to it.</ul>
         <ul> 3.6. ShoesShop  establishes contact or replies only when its subjective assessment of the received message justifies its reference to the content received from the Client.</ul>

    <b><ul> 4. Product Reviews.</ul></b>
    <ul> 4.1. Registered Customers who have purchased a specific product have the right to provide their individual opinion about the purchased product on the Website based on their experience using it.</ul>
    <ul> 4.2. ShoesShop  publishes Client's comments and ratings on the Service. Client understands and acknowledges that ShoesShop  is the sole distributor of the opinions of which Client remains the author.</ul>
    <ul> 4.3. By publishing a rating or comment on a product, a customer agrees to the publication of his or her name on the Website as the name of the author of the comment or rating.</ul>
    <ul> 4.4. In orderTest to dispel doubts ShoesShop  explains that service of expressing opinions about product is intended to express personal, subjective assessment of the product, which should be understood as an assessment of its quality and functionality, which allows to make decision about its possible purchase easier for other Customers of the Store.</ul>
    <ul> 4.5. Opinion service is not intended for expressing any opinions not directly related to the product purchased by the customer, so any opinions not directly related to information about the product will be immediately deleted by ShoesShop .</ul>
    <b><ul> 5. Transmission of commercial information, promotional offers etc. - Newsletter.</ul></b>
         <ul> 5.1. The Newsletter service shall be started after providing in the "Newsletter" tab visible on the Shop website the Customer's e-mail address to which subsequent editions of the Newsletter shall be sent, expressing by the Customer consent to processing of personal data and clicking on the "Order Newsletter" field.</ul>
         <ul> 5.2. Subscribing to the Newsletter service is also possible during the registration of the Customer Account, after registering the Customer Account in the panel provided or during placing individual orders by clicking on the appropriate box containing consent to receive commercial information.</ul>
    <ul> 5.3. After sending Customer's request to activate Newsletter service, ShoesShop  sends message confirming Newsletter service activation to Customer's e-mail address indicated by Customer, together with information about possibility to resign from activated service at any time without giving reason by sending request for Newsletter deactivation via e-mail to: sklep@nbsklep.pl or directly using Customer Account panel functionality.</ul>

    <label>§3
        PAYMENT</label>
     <ul> 1. All product prices displayed in the Store are gross values, expressed in Polish zloty (PLN) or in the European currency (EURO) and include all taxes and public levies, including value added tax (VAT).</ul>
     <ul> 2. The customer pays for the ordered products in advance, by direct bank transfer, credit card, by making payment using a payment intermediary, in particular using the intermediary PayU S.A.,PayPal, voucher, etc., or upon receipt of the orderTest by transferring the payment to the ordering party.</ul>
     <ul> 3. In the case of an orderTest delivered by courier, the Customer shall pay upon delivery only in cash.</ul>
     <ul> 4. If the Customer chooses to pay "by bank transfer to the bank account of ShoesShop ", the price of the product, plus the cost of delivery, should be paid to the bank account of ShoesShop :</ul>
     <ul> PKO BP 123 232 32 13111 44 45 522</ul>
     <ul> stating in the title of the transfer: Payment for: /orderTest number + date/.</ul>
     <ul> 5. If you choose to pay using PayU S.A. intermediary, the electronic payment service is provided by PayU Spółka Akcyjna seated in Manchester, 12-2121 Manchester, entered in the Register of Entrepreneurs of the National Court Register under KRS 0000274399, NIP 7792308495.</ul>
     <ul> 6. If you choose to pay using the intermediary PayPal ___, the electronic payment service is provided by PayPal (Europe) S.à r.l.et Cie, S.C.A. (R.C.S. Luxembourg B 118 349) "PayPal." The headquarters of PayPal is in Luxembourg. PayPal is registered in the register of institutions supervised by the Luxembourg Financial Supervision Commission (Commission de Surveillance du Secteur Financier, CSSF) under number B00000351.</ul>
     <ul> 7. If the Customer chooses to pay by bank transfer, electronic payment or payment card, the Customer is obliged to make payment immediately after placing the orderTest.</ul>
     <ul> 8. In relation to Customers who are Entrepreneurs, ShoesShop  has the right to limit the available payment methods, including the right to require prepayment in full or in part, regardless of the method of payment chosen by the Customer and the fact of concluding a sales agreement.</ul>

    <label>§4
        DELIVERY</label>
    <ul>1. When making a purchase, the Customer chooses the delivery method from the options provided by ShoesShop , which include</ul>
   <ul> a) courier service (payment in advance by direct bank transfer, payment card or by making payment using a payment intermediary listed in par. 3 par. 2),</ul>
   <ul> b) courier consignment (payment upon the receipt of the orderTest),</ul>
   <ul> c) parcel machines InPost (payment in advance by direct bank transfer, payment card or realizing payment with the use of a payment intermediary listed in par. 3 par. 2).</ul>
    <ul> 2. If the parcel delivery option specified in par. 4, passage 1, letter a) or letter b), the Customer is obliged to indicate at the time of ordering the exact address to which the parcel will be directed, and undertakes to collect the parcel.</ul>
   <ul> 3. In the case of using the option of delivery to a parcel machine InPost, the Customer is obliged to provide at the time of ordering the exact address of residence, e-mail address, telephone number and indicate a parcel machine, to which the parcel will be directed (from among those available on the map available during the ordering process) and agrees to collect the parcel from the indicated parcel machine. After delivery of the parcel to the specified parcel machine InPost, the customer will receive a code allowing the collection of the parcel.</ul>
   <ul> 4. Available delivery methods may depend on the payment method selected by the Customer.</ul>
   <ul> 5. If the value of the orderTest does not exceed 150.00 zł, the customer must pay the shipping costs of 15.00 zł to send the orderTest to the address specified by the customer. Shipping of orders exceeding 100.00 $ is free of charge.</ul>
   <ul> 6. In case of sending the orderTest to a parcel machine UPS indicated by the customer, if the value of the orderTest does not exceed the amount of 100.00 $, the customer is obliged to pay shipping costs of 20.00 $. Shipping of orders exceeding 100.00 $ is free of charge.</ul>
   <ul> 7.  The exchange processing time is 7 working days, counting from the moment of receiving the parcel by New Balance Poland..</ul>
   <ul> 8. Delivery of the orderTest to the address specified by the Customer who is a Consumer will be made immediately, no later than within 14 (fourteen) calendar days from the date of conclusion of the contract, unless the contract concluded with the Customer who is a Consumer provides otherwise, in particular when the Customer chooses a method of payment by bank transfer, electronic payment or payment card. If several products with different delivery dates are ordered, the delivery date is the longest specified date.</ul>
   <ul> 9. ShoesShop  is exempt from liability for breach of delivery terms of products, if the orderTest was not delivered to the Customer or was not delivered on time due to the fault of the Customer or for reasons attributable to the Customer, in particular due to incorrect data or absence at the delivery address.</ul>
   <ul> 10. At the time of receipt of ordered products, the Customer should check the condition of the consignment, and in the case of finding that during transport there was a loss or damage to the product, should make the necessary steps to determine the liability of the carrier (initiate the complaint procedure against the carrier). The above does not limit the rights of the Consumer in terms of warranty granted to him under applicable law.</ul>
   <ul> 11. In case of initiating a possible complaint procedure against the carrier, the Consumer should inform ShoesShop  about such circumstance.</ul>
   <ul> 12. The moment the product is handed over by ShoesShop  to the carrier, the Customer who is an Entrepreneur passes on the benefits and burdens associated with the product and the risk of accidental loss or damage to the product. In this case, ShoesShop  is not responsible for loss, damage or impairment of the product occurring from the acceptance of the product for transport until its release to that Customer and for any delay in transportation of the consignment.</ul>
   <ul> 13. If the product is sent to the Customer who is an entrepreneur via a carrier, the Customer who is an entrepreneur is obliged to examine the shipment at the time and in the manner usual for shipments of this type. If he finds that during transport there was a loss or damage to the product, he is obliged to take all steps necessary to determine the liability of the carrier.</ul>

    <label>§5
        PRODUCT EXCHANGE</label>
    <ul> 1. All products purchased in the Store, at the request of the Customer are subject to exchange for another, within 30 days from the date of receipt by the Customer of the product to be exchanged for another.</ul>
    <ul> 2. The customer can exchange the ordered product for the same one in another size or another product, bearing the costs of sending back the product to be exchanged. Unused, undamaged and in original undamaged packaging the product should be sent back to ShoesShop : st. Strange 17, 1212-222 Manechester.</ul>
    <ul> 3. If the Consumer wishes to exchange the product, the Customer is obliged to confirm via e-mail if the Store currently offers the product expected by the Customer or another size of the product to be exchanged. In case of product unavailability ShoesShop  will make every effort to check if the product expected by the Customer is currently available at the Store
        or other size of product to be replaced. In case the exchange is not possible (e.g. due to lack of availability of the product), ShoesShop  will offer to choose another available product, or will return the Customer the paid price.</ul>
        <ul> 4. The exchange processing time is 7 working days, counting from the moment of receiving the parcel by ShoesShop .</ul>



</div>



<div class="foot">
    <div th:include="footer"></div>
</div>
</body>
</html>